.history {

.btn {
display: block;
float: none;
max-width: 100%;
width: 100%;
}
  .pull-right {
    float: right !important;
  }
  .col-md-4 {
    color: #adadad;
  }
  .refreshBtn {
    margin-left: 20px;
  }
  .idCol {
    width: 5%;
  }
  .colorCol {
    width: 20%;
  }
  .sprocketsCol {
    width: 20%;
    text-align: right;
    input {
      text-align: right;
    }
  }
  .ownerCol {
    width: 30%;
  }
  .buttonCol {
    width: 25%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
}

.loading{
  color: grey;
  margin-top: 10%;
}

.nomatch{
  color: grey;
  font-size: 200%;
}

.loadingDiv{
  box-sizing: border-box;
  text-align: center;
  margin: 100px;
}
.green{
  color: lightgreen;
  font-weight: bold;
}
.red{
  color: red;
  font-weight: bold;
}
