@import "../../theme/variables.scss";
.addButton {
  margin-top: 7%;
  margin-right: 5%;
  }
.title {
  font-size: 4em;
  color: grey;
  font-weight: bold;
}
.table th {
   text-align: center;   
}
.loadingDiv{
  box-sizing: border-box;
  text-align: center;
  margin: 100px;
}
.loading{
  color: grey;
  margin-top: 10%;
}
.nocards{
  color: grey;
  font-size: 200%;

}
.panel-default{
  border-radius: 5px;
}
.cards {
  .pull-right {
    float: right !important;
  }

}

.cardIcons {
  color: #333;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}
