@import "../../theme/variables.scss";
.addButton {
  margin-top: 7%;
  margin-right: 5%;
  }
.title {
  font-size: 4em;
  color: grey;
  font-weight: bold;
}
.table th {
   text-align: center;   
}
.loadingDiv{
  text-align: center;
}
.loading{
  color: grey;
  margin-top: 10%;
}
.panel-default{
  border-radius: 5px;
}
.cards {
  .pull-right {
    float: right !important;
  }

}
